# Include our license
include LICENSE

# Include our AUTHORS file
include AUTHORS

# Include README
include README.rst

# Include documentation
graft docs
prune docs/docs-build
global-exclude .mypy_cache
